.navbar-bg{
    width: 100%;
    height: 2rem;
    background-color: rebeccapurple;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
}
.navbar-section-center{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 100%;
    height: 2rem;
    padding: 1rem 1rem;
}

.button-icon{
    width: 2rem;
    height: 2rem;
}